*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: rgb(173, 216, 230);
  padding-top: 1rem;
  /* Più sottile perchè nell'immagine dell'eserecizio
  c'è una striscia azzura che "sborda" dallo sfondo.
  Proviene dallo sfondo del container padre.
  Verrà creato un selettore appena sotto, appositamente per ridurlo.
  Si poteva risolvere mettendo la sezione incriminata nel main 
  invece che nell'header (come ho fatto io).*/
  padding-bottom: 4px;
  width: 100%;
  min-height: 70px;
  background-color: #255ee9;
}

header nav{
  margin-bottom: 1rem;
}

header nav .container{
  display: flex;
}

section{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer{
  background-color: #23272b;
  padding-top: 6px;
}

.container{
  max-width: 980px;
  margin: 0 auto;
}

.welcome-section {
  background-image: url("../img/jumbo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-welcome{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.buttons{
  padding-top: 10px;
  text-align: center;
}

.bg-grey{
  background-color: #f6f6f6;
}

.wave{
  width: auto;
  height: 6rem;
  background-image: url(../img/wave.svg);
}
.wave-reverse{
  width: auto;
  height: 6rem;
  background-image: url(../img/wave.svg);
  transform: rotate(180deg);
}

.nav-links, .nav-logo, .nav-login{
  padding: .5rem;
}

.nav-logo img{
  width: 100px;
  height: fit-content;
}

.nav-logo{
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-login{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-links{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links ul a{
  display: inline-block;
  padding: 0 1.1rem;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.nav-login{
  text-align: right;
}

.welcome-section{
  background-color: #00008b;
  padding: 2rem 0;
}

.welcome-section .container{
  max-width: 680px;
  min-height: 300px;
}

.row, .row-reverse{
  display: flex;
}

.col-wide{
  width: 60%;
  border: 1px dashed black;
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.col-wide-reverse{
  width: 60%;
  border: 1px dashed black;
  min-height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.col-wide img{
  width: 400px;
}

.col-wide-reverse img{
  width: 400px;
}

.box-large img{
  width: 90%;
}

.col-small{
  width: 40%;
  border: 1px dashed black;
  min-height: 300px;
}

.col-small-reverse{
  width: 40%;
  border: 1px dashed black;
  min-height: 300px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.box-large{
  border: 1px dashed black;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .col{
  border: 1px dashed white;
  flex-grow: 1;
  background-color: #15a4ac;
  min-height: 300px;
}

footer .col-large{
  width: 15%;
  background-color: #fa8b7e;
  border-color: black;
}

footer hr{
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.lower-footer{
  background-color: #75f0d4;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo{
  border: 1px dashed black;
  padding: 0.5rem;
  background-color: #ffbdc0;
}

.footer-button{
  border: 1px dashed black;
  padding: 0.5rem;
  background-color: #ffbdc0;
}

/* Buttons */
.btn{
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: .7rem 1rem;
}
.btn-small{
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: .4rem .7rem;
  font-size: .8rem;
}
.btn-dark{
  border-radius: 15px;
  border: none;
  background-color: #23272a;
  color: white;
  padding: .7rem 1rem;
}
.btn-violet{
  border-radius: 15px;
  border: none;
  background-color: #7289da;
  color: white;
  padding: .7rem 1rem;
}

.title{
  font-size: 1.3rem;
  padding-bottom: 12px;
}
.description{
  padding-top: 9px;
}
.text-section{
  width: 70%;
  padding: 1rem 0 0 1rem;
}
.welcome-title{
  color: white;
  text-align: center;
}
.welcome-description{
  color: white;
  text-align: center;
  width: 82%;
}

.box-text-section{
  width: 90%;
  padding: 1rem 0 0 1rem;
  text-align: center;
}

.box-cta{
  padding-top: 30px;
  width: 50%;
  border: 1px dashed black;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cta-title{
  width: 100%;
  padding-bottom: 10px;
}
.cta-button{
  padding-top: 9px;
}

.bg-stars{
  line-height: 60px;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  background-size: auto 35px;
}